.env
.env.*
.git
.gitignore
node_modules
vendor
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/media-library
storage/app/public
storage/app/private
public/storage
tests
.gitattributes
.github
.idx
.dockerignore
